# Ollama Configuration
OLLAMA_API_URL=http://host.docker.internal:11434/api/chat
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_CHAT_MODEL=llama3.2:3b
OLLAMA_EMBED_MODEL=nomic-embed-text
EMBED_VECTOR_DIM=768

# Qdrant Vector DB
QDRANT_HOST=qdrant_service
QDRANT_PORT=6333

# Application Upload Limits
MAX_UPLOAD_MB=50

# Relational Database URL (Container internal path mapped via volume)
DB_URL=sqlite:////workspace/db_data/pdf_summarizer.db